@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap'); /* Passion One */
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap'); /* Sriracha */

:root {
	--fontPassionOne: 'Passion One', sans-serif;
	--fontSriracha: 'Sriracha', cursive;
}

html, body {
	font: normal 1em Arial, sans-serif;
	min-height: 100vh;
	background-color: darkgray;
	margin: 0px;
	font-family: Arial;
}

header {
	background-color: black;
	text-align: center;
	padding: 50px 5px;
	color: white;
	margin: -8px -8px 8px -8px;
}
header a, footer a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}
header a:hover, footer a:hover {
	text-decoration: underline;
}
header h1 {
	font-variant: small-caps;
	font-family: var(--fontPassionOne);
	font-size: 3em;
}
header h1, header p {
	margin: 2px;
}

section {
	padding: 10vh 0px;
	line-height: 2em;
	padding-left: 10px;
	font-family: var(--fontSriracha);
}
section p {
	font-size: 5vw;
}
section.normal {
	background-color: white;
	color: black;
}
section.imagem {
	background-color: rgb(29, 29, 29);
}
section.imagem p {
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.342);
	width: 300px;
}

footer p {
	color: white;
	text-align: center;
	padding: 3px;
	background-color: black;
	border-radius: 10px;
}