@charset "UTF-8";

:root {
   --cor0: #49a09d;
   --cor1: #5f2c82;
}

* {
   padding: 0px;
   margin: 0px;
}

body {
   background-color: var(--cor1);
   font: normal 1em Arial, Helvetica, sans-serif;
}

main {
   position: relative;
   height: 100vh;
}

i.material-icon {
   color: white;
}

section#login {
   background-color: white;
   width: 38vw;
   height: auto;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

section#login > div#formulario > h1 {
   text-align: center;
   padding: 10px 0px;
   font-weight: bolder;
}

section#login > div#imgfundo {
   background-image: url('../imgs/fundo.jpg');
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   padding-bottom: 50%;
   width: auto;
   float: none;
}

section#login > div#formulario {
   padding: 5px;
}
section#login > div#formulario > form > p.dados {
   background-color: var(--cor1);
   padding: 3px;
}
section#login > div#formulario > form > p.dados > i {
   font-size: 1em;
}

/* section#login > div#formulario > form > p.dados > input.inpfor {
} */

@media screen and (min-width: 768px) {
   section#login {
      width: 80vw;
      height: 30vh;
   }

   section#login > div#imgfundo {
      width: 45%;
      padding-bottom: 30vh;
      float: left;
   }
}