@charset "UTF-8";

:root {
   --cor0: #49a09d;
   --cor1: #5f2c82;
}

* {
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
}

body {
   background-color: var(--cor1);
   font: normal 1em Arial, Helvetica, sans-serif;
}

main {
   position: relative;
   height: 100vh;
}

i.material-icon {
   color: white;
}

section#login {
   background-color: white;
   width: 250ox;
   height: 500px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   overflow: hidden;
   border-radius: 15px;
   box-shadow: 0px 0px 8px #00000096;
   transition: width .3s, height .3s;
   transition-timing-function: ease;
}

section#login > div#imgfundo {
   background-image: url('../imgs/fundo.jpg');
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   background-color: var(--cor1);
   height: 200px;
   width: auto;
   float: none;
   display: block;
}

section#login > div#formulario {
   padding: 5px;
   display: block;
}
section#login > div#formulario > h1 {
   text-align: center;
   padding: 10px 0px;
   font-weight: bolder;
}
section#login > div#formulario > form > p.dados {
   background-color: var(--cor1);
   padding: 3px;
   border-radius: 10px;
}
section#login > div#formulario > form > p.dados > i {
   font-size: 1.8em;
}
section#login > div#formulario > form > p.dados > input.inpfor {
   height: 30px;
}