@charset "UTF-8";

:root {
   --cor0: #49a09d;
   --cor1: #5f2c82;
}

* {
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
}

body {
   background-color: var(--cor1);
   font: normal 1em Arial, Helvetica, sans-serif;
}

main {
   position: relative;
   height: 100vh;
}

i.material-icon {
   color: white;
}

section#login {
   background-color: white;
   width: 250ox;
   height: 520px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   overflow: hidden;
   border-radius: 15px;
   box-shadow: 0px 0px 8px #00000096;

   transition: width .3s, height .3s;
   transition-timing-function: ease;
}

section#login > div#imgfundo {
   background-image: url('../imgs/fundo.jpg');
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   background-color: var(--cor1);
   height: 200px;
   width: auto;
   float: none;
   display: block;
}

section#login > div#formulario {
   padding: 5px;
   display: block;
}
section#login > div#formulario > h1 {
   text-align: center;
   padding: 10px 0px;
   font-weight: bolder;
}

form > div.campo {
   width: 100%;
   height: 40px;
   border-radius:  10px;
   background-color: var(--cor1);
   margin: 5px 0px;
}
form > div.campo > label {
   display: none;
}

div#formulario .botao {
   display: block;
   width: 90%;
   margin: 5px auto;
   height: 35px;
   text-align: center;
   border: 2px solid #49a09d;
   border-radius: 8px;
   font-size: 1em;
   outline: 0px solid transparent;
}

div#formulario .botao:hover {
   background-color: #429492;
   color: white;
}

div#formulario input.botao {
   background-color: #5bc3bf;
   color: white;
   margin-top: 15px;
}

div#formulario a.botao {
   background-color: #adf8f6;
   color: #49a09d;
   text-decoration: none;
   padding-top: 5px;
}

div#formulario a.botao > i {
   font-size: .8em;
}