* {
    margin: 0px;
    padding: 0px;
}

body {
	background-color: #233eff;
	background-position: center bottom;
	background-size: contain;
	background-repeat: no-repeat;
	height: 100vh;
  color: white;
}

header {
    box-shadow: 0px 5px 8px black;
    margin-bottom: 10px;
    padding: 5px;
    z-index: 1;
}

/* Retrato */
@media screen and (orientation: portrait) {
	body {
		background-image: url('img/cev-portrait.jpg');
		background-position: center bottom;
	}
	
	header {
		background-color: #5252a8;
	}
	header > h1#orie::after {
	    content: 'Empé/Deitado';
	}
}

/* Paisagem */
@media screen and (orientation: landscape) {
	body {
		background-image: url('img/cev-landscape.jpg');
		background-position: left bottom;
	}
	
	header {
		background-color: #752525;
	}
	header > h1#orie::after {
	    content: 'Paisagem/Retrato';
	}
}